<!-- All Colors Found in the WebTemplate -->
<!Doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <link rel="stylesheet" type="text/css" href="style/header.css">
    <link rel="stylesheet" type="text/css" href="style/footer.css">
    <link rel="stylesheet" type="text/css" href="style/content.css">
    <link rel="stylesheet" type="text/css" href="style/cards.css">
    <link rel="stylesheet" type="text/css" href="style/article.css">
    <link rel="stylesheet" type="text/css" href="style/form.css">
    <link rel="stylesheet" type="text/css" href="style/misc.css">
    <link rel="stylesheet" type="text/css" href="style/print.css">
    <style>
        .color {
            min-height: 10vh;
            min-width: 10vh;
            margin: 0;
            color: white;
            text-align: center;
        }
        .gridContainer {
            grid-template-columns: repeat(10, 1fr);
            grid-gap: 0;
            margin: 0;
        }
        .title {
            grid-column-start: 1;
            grid-column-end: 10;
        }
    </style>
</head>
<body>
    <main>
        <section class="flashcard">
            <div class="container">
                <h1> All Colors Found in WebTemplate </h1>
            </div>
        </section>
        <section class="">
            <div class="gridContainer">
                <div class="g_1x1 color" style="background-color:#123456;"> </div>
                <div class="g_1x1 color" style="background-color:#654321;"> </div>
                <div class="g_1x1 color" style="background-color:#321654;"> </div>
                <div class="g_1x1 color" style="background-color:#456123;"> </div>
                <div class="g_1x1 color" style="background-color:#162534;"> </div>
                <div class="g_1x1 color" style="background-color:#615243;"> </div>
                <div class="g_1x1 color" style="background-color:#342516;"> </div>
                <div class="g_1x1 color" style="background-color:#435261;"> </div>
                <div class="g_1x1 color" style="background-color:#135246;"> </div>
                <div class="g_1x1 color" style="background-color:#246135;"> </div>
            </div>
            <hr>
            <div class="gridContainer">
                <div class="g_1x1 color" style="background-color:#2682A6;"> </div>
                <div class="g_1x1 color" style="background-color:#82c7e3;"> </div>
                <div class="g_1x1 color" style="background-color:#333;"> </div>
                <div class="g_1x1 color" style="background-color:#F0F7D4;"> </div>
                <div class="g_1x1 color" style="background-color:#777;"> </div>
                <div class="g_1x1 color" style="background-color:#dcf28d;"> </div>
                <div class="g_1x1 color" style="background-color:#ff8a80;"> </div>
                <div class="g_1x1 color" style="background-color:#97d1e7;"> </div>
                <div class="g_1x1 color" style="background-color:#fecc81;"> </div>
                <div class="g_1x1 color" style="background-color:#999;"> </div>
                <div class="g_1x1 color" style="background-color:#ccc;"> </div>
                <div class="g_1x1 color" style="background-color:#eee;"> </div>
                <div class="g_1x1 color" style="background-color:#111;"> </div>
                <div class="g_1x1 color" style="background-color:#BBE524;"> </div>
                <div class="g_1x1 color" style="background-color:#fff9e6;"> </div>
                <div class="g_1x1 color" style="background-color:#ffc30f;"> </div>
                <div class="g_1x1 color" style="background-color:#e6ac00;"> </div>
                <div class="g_1x1 color" style="background-color:#ffe8e6;"> </div>
                <div class="g_1x1 color" style="background-color:#FF230F;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
                <div class="g_1x1 color" style="background-color:#00121a;"> </div>
                <div class="g_1x1 color" style="background-color:#fb9902;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
                <div class="g_1x1 color" style="background-color:#002C3D;"> </div>
            </div>
        </section>
    </main>
</body>