<!Doctype html>
<html>
  <head>
    <title> This is a Landing Page </title>
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <link rel="stylesheet" type="text/css" href="style/header.css">
    <link rel="stylesheet" type="text/css" href="style/footer.css">
    <link rel="stylesheet" type="text/css" href="style/content.css">
    <link rel="stylesheet" type="text/css" href="style/cards.css">
    <link rel="stylesheet" type="text/css" href="style/article.css">
    <link rel="stylesheet" type="text/css" href="style/misc.css">
    <link rel="stylesheet" type="text/css" href="style/print.css">
    <link rel="stylesheet" type="text/css" href="style/navbar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00121a"> <!-- Colored Chrome Mobile Tabs! -->
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <!-- This is the Header of the Page -->
    <header>
      <div id="title">
        <h1><span class="black">Grade</span><span class="blue">Forge</span></h1>
      </div>
      <div id="menu">
        <ul>
          <!-- For Dropdown Menus: the <li> element must be in class "dropdown" -->
          <li class="dropdown">
            <a href="https://google.com"> Home </a>
            <div class="dropdownContent">
              <p> Hello World </p>
              <p> Hello World </p>
              <p> This should be a Link! </p>
              <a href="#"> Link! </a>
            </div>
          </li>
          <li><span class="current"> Help </span></li>
          <li><span> About Us </span></li>
          <li class="dropdown">
            <span> ... </span>
            <div class="dropdownContent">
              <a href="#1"> Section 1 </a>
              <a href="#2"> Section 2 </a>
              <a href="#3"> Section 3 </a>
              <a href="#4"> Section 4 </a>
              <a href="#5"> Section 5 </a>
              <a href="#6"> Section 6 </a>
              <a href="#7"> Section 7 </a>
              <a href="#8"> Section 8 </a>
              <a href="#9"> Section 9 </a>
            </div>
          </li>
          <li><span> Lorem </span></li>
          <li><span> ipsum </span></li>
          <li class="dropdown">
            <a href="https://duckduckgo.com"> Test Link </a>
            <div class="dropdownContent">
              <a href="#1"> Section 1 </a>
              <a href="#2"> Section 2 </a>
              <a href="#3"> Section 3 </a>
              <a href="#4"> Section 4 </a>
              <a href="#5"> Section 5 </a>
              <a href="#6"> Section 6 </a>
              <a href="#7"> Section 7 </a>
              <a href="#8"> Section 8 </a>
              <a href="#9"> Section 9 </a>
            </div>
          </li>
        </ul>
      </div>
    </header>
    
    <!-- this is the content of the page -->
    <main>
      <section class="flashcard">
        <div class="container">
        	<div class="gridContainer">
        	  <div class="title">
        	    <h1> Sponsors </h1>
        	    <hr>
        	  </div>
        	  <figure class="g_1x1 white"><a href="#"><img src="/img/usctree.svg"> <figcaption> Hello World 1 </figcaption></a></figure>
        	  <div class="g_1x1"> Hello World 2 </div>
        	  <div class="g_1x1"> Hello World 3 </div>
        	  <div class="g_1x1"> Hello World 4 </div>
        	  <figure class="g_1x1 white"> <img src="/img/usctree.svg"> <figcaption> Hello World 5 </figcaption> </figure>
        	  <div class="g_1x1"> Hello World 6 </div>
        	  <div class="g_1x1"> Hello World 7 </div>
        	  <div class="g_1x1"> Hello World 8 </div>
        	</div>
      	</div>
      </section>
      <section class="flashcard grayscale">
        <div class="container">
        	<div class="gridContainer">
        	  <div class="title">
        	    <h1> Partners </h1>
        	    <hr>
        	  </div>
        	  <figure class="g_1x2 white"> <img src="/temp/img1.jpg"> <figcaption> Hello World 1 </figcaption> </figure>
        	  <figure class="g_1x2 white"> <img src="/temp/img2.png"> <figcaption> Hello World 2 </figcaption> </figure>
        	  <figure class="g_1x1 white"> <img src="/temp/img3.png"> <figcaption> Hello World 3 </figcaption> </figure>
        	  <figure class="g_2x2 white"> <img src="/temp/img4.jpg"> <figcaption> Hello World 4 </figcaption> </figure>
        	  <figure class="g_1x1 white"> <img src="/temp/img5.png"> <figcaption> Hello World 5 </figcaption> </figure>
        	  <figure class="g_1x1 white"> <img src="/temp/img6.jpg"> <figcaption> Hello World 6 </figcaption> </figure>
        	  <figure class="g_1x1 white"> <img src="/temp/img7.jpg"> <figcaption> Hello World 7 </figcaption> </figure>
        	  <figure class="g_1x1 white"> <img src="/temp/img8.jpg"> <figcaption> Hello World 8 </figcaption> </figure>
        	  <div class="g_1x1"> <p> Hello World 9 </p> </div>
        	  <div class="g_1x1"> <p> Hello World 10 </p> </div>
        	  <div class="g_1x1"> <p> Hello World 11 </p> </div>
        	</div>
      	</div>
      </section>
    </main>
    
    <!-- this is the footer of the page -->
    <footer>
      <div id="footer-top">
        <div class="container">
          <dl>
            <dt class="green"> <a href="https://cse.sc.edu"> Section Title </a> </dt>
            <dd><a href="https://sc.edu"> link </a></dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
          </dl>
          <dl class="column">
            <dt class="red"> <a href="https://cse.sc.edu"> Section Title </a> </dt>
            <dd><a href="https://sc.edu"> link </a></dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
          </dl>
          <dl class="column">
            <dt class="blue"> <a href="https://cse.sc.edu"> Section Title </a> </dt>
            <dd><a href="https://sc.edu"> link </a></dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
          </dl>
          <dl class="column">
            <dt class="orange"> <a href="https://cse.sc.edu"> Section Title </a> </dt>
            <dd><a href="https://sc.edu"> link </a></dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
            <dd> link </dd>
          </dl>
        </div>
      </div>
      <div id="footer-bottom">
        <div class="left"> Template Test </div>
        <div> 2018 - GradeForge </div>
        <div class="right"> Other... </div>
      </div>
    </footer>
  </body>
</html>
