/*
    Main Stylesheet for WebTemplate 2
   
    This Stylesheet has no dependencies on other stylesheets

    Contains the following:
        - Fonts
        - Colors
        - Boilerplate
            - H1-6, P, A, etc.
            - Table
            - Form Elements
 */

/* Fonts */
@font-face {
    font-family: title;
    src: url('/font/LeagueMono-ExtraBold.woff2');
}

@font-face {
    font-family: menu;
    src: url('/font/LeagueMono-Regular.woff2');
}

@font-face {
    font-family: bold;
    src: url('/font/LeagueMono-Bold.woff2');
}

@font-face {
    font-family: light;
    src: url('/font/LeagueMono-Light.woff2');
}

@font-face {
    font-family: medium;
    src: url('/font/LeagueMono-Medium.woff2');
}

@font-face {
    font-family: semibold;
    src: url('/font/LeagueMono-SemiBold.woff2');
}

@font-face {
    font-family: thin;
    src: url('/font/LeagueMono-Thin.woff2');
}

@font-face {
    font-family: ultralight;
    src: url('/font/LeagueMono-UltraLight.woff2');
}

/* Color Variables */

:root {

    /* ===Default Color Vars=== */
    /* These are the Default Colors Provided and used in the Template. They are here for backwards compatibility */
    --off-white: #F0F7D4;
    --green: #BBE524;
    --red: #FF230F;
    --blue: #2682A6;
    --orange: #fb9902;
    
    --dark-blue: #002C3D;
    --light-blue: #004966;

    /* For Warning Boxes */
    --warn-yellow: #ffc30f;
    --warn-bright-yellow: #fff9e6;
    --warn-red: #ffd0cc;
    
    /* For Tags */
    --faint-green: #dcf28d;
    --faint-red: #ff8a80;
    --faint-blue: #97d1e7;
    --faint-orange: #fecc81;
    
    /* For Link Selection */
    --lighter-blue: #82c7e3;
    --lighter-green: #ceec5f;
    
    /* Other Colors, not in scheme */
    --usc-garnet: #73000a;

    /* Greys */
    --grey-1: #111;
    --grey-2: #222;
    --grey-3: #333;
    --grey-5: #555;
    --grey-80: #808080;

    /* ===General Color Vars=== */
    /* These Color Vars will determine the other Functional Colors Below */

    /* Accent Colors */
    /* These include spots for HSL Colors, which are also used for generating gradients and shades of these colors. HTML Color Codes are also provided. */
    --accent-1: #BBE524;
    --accent-1-h: 73;
    --accent-1-s: 79%;
    --accent-1-l: 52%;
    --accent-1: hsl(var(--accent-1-h), var(--accent-1-s), var(--accent-1-l));

    --accent-2: #FF230F;
    --accent-2-h: 5;
    --accent-2-s: 100%;
    --accent-2-l: 53%;
    --accent-2: hsl(var(--accent-2-h), var(--accent-2-s), var(--accent-2-l));

    --accent-3: #2682A6;
    --accent-3-h: 197;
    --accent-3-s: 63%;
    --accent-3-l: 40%;
    --accent-3: hsl(var(--accent-3-h), var(--accent-3-s), var(--accent-3-l));

    --accent-4: #fb9902;
    --accent-4-h: 36;
    --accent-4-s: 98%;
    --accent-4-l: 50%;
    --accent-4: hsl(var(--accent-4-h), var(--accent-4-s), var(--accent-4-l));

    --dark-color: #002C3D;
    --dark-color-h: 197;
    --dark-color-s: 100%;
    --dark-color-l: 12%;
    --dark-color: hsl(var(--dark-color-h), var(--dark-color-s), var(--dark-color-l));

    --light-color: #F0F7D4;
    --light-color-h: 72;
    --light-color-s: 69%;
    --light-color-l: 90%;
    --light-color: hsl(var(--light-color-h), var(--light-color-s), var(--light-color-l));

    /* ===Functional Colors===*/
    /* These Colors are generated feom the HSL Values given above. They may optionally be changed with a static color too if needed */

    /* Background Colors (Can change depending on user Light/Dark Mode Preference) */
    --light-background: white;
    --dark-background: var(--dark-color);

    /* Link Colors */
    --link-normal: hsl(var(--accent-1-h), var(--accent-1-s), 35%); /* #81a013 */
    --link-highlight: var(--accent-1);

    /* Text Decoration Colors */
    --highlight: #ffff00;
    --hightlight-text-color: black;

    --light-text-color: black; /* Light Color Scheme */
    --dark-text-color: white; /* Dark Color Scheme */

    --light-header-color: black; /* Light Color Scheme */
    --light-header-bar-color: #333;

    --dark-header-color: white; /* Dark Color Scheme */
    --dark-header-bar-color: #aaa;

    --hr-color: #999;

    /* Table Colors */
    
    --table-caption-bg: #999;
    --table-caption-text: white;
    --table-head-bg: var(--dark-color);
    --table-head-text: white;
    --table-n0-row-bg: #eee;
    --table-n1-row-bg: white;
    --table-row-hightlight: var(--light-color);
    --table-row-text: black;
    --table-footer-bg: white;
    --table-footer-text: var(--accent-3);

    /* Other Tags */
    /* @TODO Finish This */
    --blockquote-bar-color: #555;
    --blockquote-bg-color: #eee;
    --blockquote-text-color: black;

    
}

/* HTML Tags */

body {
    margin: 0px;
    background-color: var(--light-background);
    color: var(--light-text-color);
}



@media only screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background);
        color: var(--dark-text-color);
    }
}

/* Content Block */
main {
    min-height: 80vh; /* Note: 1vh ~= 1% viewport Height */
    margin: 0px 0px;
    font-family: light;
}

main.sidebar {
    margin-left: 20%;
}

/* Use this to Center Items */
.container {
    margin: 0% 20%;
    overflow: auto;
    width: 60%;
}

/* Makes Margins Smaller for Mobile Screens */
@media only screen and (max-width: 767px) {
    .container {
        margin: 0% 1%;
        width: 98%;
    }
}

/* Specific Printing Rules */
@media only print {
    .container {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }

    hr {
        background-color: #aaa;
    }

    .hide-for-print {
        display: none !important;
    }
}

/* Header Decorations */
h1 {
    margin: 10px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #333333; */
    /* padding: 1px 1px 1px 10px; */
}

h2 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #444444; */
    /* padding: 1px 1px 1px 10px; */
}

h3 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #555555; */
    /* padding: 1px 1px 1px 10px; */
}

h4 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #666666; */
    /* padding: 1px 1px 1px 10px; */
}

h5 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #777777; */
    /* padding: 1px 1px 1px 10px; */
}

h6 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #888888; */
    /* padding: 1px 1px 1px 10px; */
}

h1.vbar, h2.vbar, h3.vbar, h4.vbar, h5.vbar, h6.vbar {
    border-left: 5px solid var(--light-header-bar-color);
    padding-left: 5px;
}

h1.hbar, h2.hbar, h3.hbar, h4.hbar, h5.hbar, h6.hbar {
    border-bottom: 1px solid var(--light-header-bar-color);
}

.invert {
    padding-left: 5px;
}

/* Don't Invert Colors when Printing */
@media only screen {
    .invert {
        background-color: var(--light-header-color);
        color: var(--light-background);
    }
}

@media only screen and (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6 {
        color: var(--dark-header-color);
    }
    h1.vbar, h2.vbar, h3.vbar, h4.vbar, h5.vbar, h6.vbar {
        border-left: 5px solid var(--dark-header-bar-color);
        padding-left: 5px;
    }
    
    h1.hbar, h2.hbar, h3.hbar, h4.hbar, h5.hbar, h6.hbar {
        border-bottom: 1px solid var(--dark-header-bar-color);
    }
    .invert {
        background-color: var(--dark-header-color);
        color: var(--dark-background);
    }
}

/* END Header Decorations */

p {
    margin: 10px 0px;
}

a:link, a:visited {
    color: var(--link-normal);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--link-highlight);
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;
}

img.blur {
    filter: blur(25px);
    -webkit-filter: blur(25px);
}

img.noresize {
    width: auto;
    height: auto;
    margin: auto;
    text-align:center;

}
/* @TODO is this used? */
img.noresize.right {
    margin-left: auto;
    margin-right: 0;
}

hr {
    border-style: solid;
    border-color: var(--hr-color);
    margin: 10px 0px;
}

hr.white {
    border-color: white;
}

/* Table Styling */
table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 10px 0px;
    color: var(--table-row-text);
}

table caption {
    text-align: left;
    background-color: var(--table-caption-bg);
    color: var(--table-caption-text);
    font-family: light;
    padding: 5px;
    /* border-left: 5px solid #333; */
}

table tfoot {
    background-color: var(--table-footer-bg);
    color: var(--table-footer-text);
}

table tr:nth-child(even) {
    background-color: var(--table-n0-row-bg);
}

table tr:nth-child(odd) {
    background-color: var(--table-n1-row-bg);
}

table th {
    background-color: var(--table-head-bg);
    color: var(--table-head-text);
    padding: 5px;
    font-family: menu;
    font-size: 17.5px;
}

table td {
    font-family: light;
    padding: 5px;
}

table tr:hover {
    background-color: var(--table-row-hightlight);
}

/* END Table Styling */

code {
    font-family: light;
}

/* @TODO Assign Color Variables for Everything */

blockquote {
    border-left: 5px solid #555555;
    background-color: #eee;
    color: black;
    margin: 0px;
    padding: 1em 1em 1em 3em;
    font-family: light;
    font-style: italic;
}

kbd {
    border-radius: 5px;
    border: 1px solid black;
    padding: 2.5px;
    color: black;
    background-color: white;
    font-family: light;
    min-width: 10000em;
    min-height: 3em;
}

kbd.dark {
    background-color: #111;
    color: white;
    font-family: light;
}

samp {
    font-family: thin;
}

dl dt {
    font-family: semibold;
}

/* BEGIN Text Alignment */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* END Text Alignment */

/* BEGIN Content Indentation */
.indent {
    margin-left: 3em;
}
/* END Content Indentation */

/* BEGIN Explicit Color Assignment Classes */

.accent-1 {
    color: var(--accent-1);
    border-color: hsl(var(--accent-1-h), var(--accent-1-s), 30%) !important;
}

.accent-2 {
    color: var(--accent-2);
    border-color: hsl(var(--accent-2-h), var(--accent-2-s), 30%) !important;
}

.accent-3 {
    color: var(--accent-3);
    border-color: hsl(var(--accent-3-h), var(--accent-3-s), 30%) !important;
}

.accent-4 {
    color: var(--accent-4);
    border-color: hsl(var(--accent-4-h), var(--accent-4-s), 30%) !important;
}

/* Don't invert colors when printing */
@media only screen {
    .accent-1.invert {
        background-color: var(--accent-1);
        color: var(--light-background);
    }
    .accent-2.invert {
        background-color: var(--accent-2);
        color: var(--light-background);
    }
    .accent-3.invert {
        background-color: var(--accent-3);
        color: var(--light-background);
    }
    .accent-4.invert {
        background-color: var(--accent-4);
        color: var(--light-background);
    }
}

/* Dark Color Scheme Inversions */
@media only screen and (prefers-color-scheme: dark) {
    .accent-1.invert {
        background-color: var(--accent-1);
        color: var(--dark-background);
    }
    .accent-2.invert {
        background-color: var(--accent-2);
        color: var(--dark-background);
    }
    .accent-3.invert {
        background-color: var(--accent-3);
        color: var(--dark-background);
    }
    .accent-4.invert {
        background-color: var(--accent-4);
        color: var(--dark-background);
    }
}


/* END Explicit Color Assignment Classes */


/* ======MOVE OUT====== */

/* @TODO Move these Styling Rules out into different Files or delete them */

a.button {
    border-radius: 5px;
    border: 0;
    background-color: #333;
    color: #eee;
    padding: 7px;
    font-family: semibold;
    text-align: center;
    display: inline-block;
}

a.button.garnet {
    background-color: #73000a;
    color: #eee;
}

a.button.acm-blue {
    background-color: #0492d2;
    color: #eee;
}

a.button.garnet:hover, a.button.garnet:active {
    background-color: #eee;
    color: #73000a;
}

a.button.acm-blue:hover, a.button.acm-blue:active {
    background-color: #eee;
    color: #0492d2;
}

a.button:hover, a.button:active {
    background-color: #eee;
    color: #333;
}

/* This is the Navigator Bar */
main nav {
    background-color: #111111;
    color: white;
    margin: 0px;
    padding: 5px 0px;
}

main nav span {
    font-family: semibold;
    font-size: 24px;
    display: block;
    float: left;
    padding: 1px 10px 1px 1px;
}

main nav ul {
    list-style-type: none;
    display: inline;
    margin: 0px;
}

main nav ul li {
    padding: 1px 15px 1px 0px;
    font-family: semibold;
    color: gray;
    display: inline-block;
}

main nav ul li * {
    margin: 5px 0px;
    padding: 0px;
}

/* May change the Link color at some point */
main nav ul li a:link, main nav ul li a:visited {
    color: #BBE524;
    text-decoration: none;
    
}

main nav ul li a:hover {
    color: white;
    text-decoration: none;
}

/* This is legacy. Use a Titlecard */
main .title {
    margin: 0px;
    padding: 0px;
    font-size: 4rem;
    border-left: 0px;
    font-family: bold;
}

/* Details Tag */
details {
    /*border-left: 5px solid black;*/
    background-color: rgba(0,0,0,1);
    font-family: semibold;
}

/* Removes the Twisty Triangle. Only works in Chrome */
details summary::-webkit-details-marker {
    display: none;
}

summary {
    background-color: #eee;
    color: black;
}

details[open] {
    background-color: #eee;
    color: black;
}

details[open] > *:not(summary) {
    font-family: light;
}

details[open] summary {
    background-color: black;
    color: white;
}

/* END Details Tag */


abbr {
    border-bottom: 2.5px solid #333;
}

main figure {
    margin: 5px 0px;
    padding: 0px;
    background-color: #002C3D;
    color: white;
}

main figure .figure {
    color: gray;
}

main figure figcaption {
    margin: 0px;
    padding: 5px 5px 5px 20px;
    font-family: ultralight;
    border-left: 5px solid #004966;
}

main figure.white {
    background-color: white;
    color: #333;
    font-family: bold;
    padding: 5px;
    margin: 0;
}

main figure.white figcaption {
    color: #333;
    font-family: bold;
    border-left: 0;
    text-align: center;
    padding: 0;
}