/*
    Styling for the Navigation Bar that appears on some pages. This used to live in main.css, but has been moved out into this file.

    Usage:
        <nav>
            <div class="container">
                
            </div>
        </nav>
*/

/* @TODO Reimplement this in a cleaner way */

nav {
    background-color: #111111;
    color: white;
    margin: 0px;
    padding: 5px 0px;
}

nav span {
    font-family: semibold;
    font-size: 24px;
    display: block;
    float: left;
    padding: 1px 10px 1px 1px;
}

nav ul {
    list-style-type: none;
    display: inline;
    margin: 0px;
}

nav ul li {
    padding: 1px 15px 1px 0px;
    font-family: semibold;
    color: gray;
    display: inline-block;
}

nav ul li * {
    margin: 5px 0px;
    padding: 0px;
}

/* May change the Link color at some point */
nav ul li a:link, nav ul li a:visited {
    color: #BBE524;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
}
